.pet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body{

  background-color: #2E2E2E;
  color: gainsboro;

}

.pet-card img {
  width: 150px; /* Cambia a cualquier tamaño que prefieras */
  height: 150px; /* Mantener la proporción de las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}


.pet-cards {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se muevan a la siguiente fila si no hay suficiente espacio */
  justify-content: space-around; /* Espaciado entre las tarjetas */
}

.pet-card {
  border: 1px solid #ccc; /* Agrega un borde a las tarjetas */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  margin: 10px; /* Espaciado externo */
  text-align: center; /* Centra el texto dentro de la tarjeta */
}



.pet-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  margin: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.pet-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h2 {
  margin: 10px 0;
  color: #333;
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

/* App.css */
.filter-bar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pet-card {
  width: 250px;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


a:hover {
  background-color: #218838;
}
